:root {
    color: #000000;
    font: 16px sans-serif;
    --window-bg-color: #aeb2c3;
    --window-border-color: #dcdee5 #5d6069 #5d6069 #dcdee5;
    --menu-select-color: #9397a5;
    -moz-user-select: none;
    user-select: none;
}

body {
    margin: 0; /* get rid of border */
}

/* Main navigation */
nav {
    border: 1px solid;
    border-color: var(--window-border-color);
    background-color: var(--window-bg-color);
    cursor: default;
}

/* All list items in nav */
nav li {
    line-height: 1.5em;
    list-style-type: none;
    padding: 0 0.5em 0 0.5em;
}

/* List items in nav that are currently highlighted */
nav li:hover {
    background-color: var(--menu-select-color);
}

/* Only the topmost list container */
nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
}

/* Only the topmost list items */
nav > ul > li {
    position: relative; /* anchor the submenus */
}

/* Make submenus appear */
nav > ul > li:hover > ul {
    visibility: visible;
}

/* Only the submenu list container */
nav > ul > li > ul {
    border: 1px solid;
    border-color: var(--window-border-color);
    background-color: var(--window-bg-color);
    cursor: default;
    left: 0; /* anchored to the list item */
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
}
