:root {
    color: #000000;
    font: 16px sans-serif;
    --window-bg-color: #aeb2c3;
    --window-border-color: #dcdee5 #5d6069 #5d6069 #dcdee5;
    --window-title-bg-color: #b24d7a;
    --window-title-border-color: #dcadc2 #57253b #57253b #dcadc2;
    --window-title-color: #ffffff;
    --menu-select-color: #9397a5;
    -moz-user-select: none;
    user-select: none;
}

* {
     /* Don't count padding or borders for any elements */
    box-sizing: border-box;
}

body {
    /* Get rid of border */
   margin: 0;
    /* Get rid of scrollbar */
   overflow: hidden;
}

div {
    /* Debugging stuff */
    /* border: 1px dotted red; */
}

/* #region *** MAIN LAYOUT ***/

html, body, #rocked, .root-flex, .content {
    height: 100%;
    width: 100%;
}

.root-flex {
    display: flex;
    flex-direction: column;
}

.content {
     /* Ensure that resizing the window covers up the content */
    overflow: hidden;
}

/* #endregion */

/* #region *** MENU ***/

/* Main navigation */
.menu-bar {
    background-color: var(--window-bg-color);
    border-color: var(--window-border-color);
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    line-height: 1.5em;
    list-style-type: none;
    padding: 0 0.5em 0 0.5em;

    /* Anchor submenus */
    position: relative;
}

.menu-item:hover {
    background-color: var(--menu-select-color);
}

/* Only dropdown menus */
.menu-dropdown {
    border: 1px solid;
    border-color: var(--window-border-color);
    background-color: var(--window-bg-color);
    cursor: default;
    left: 0; /* anchored to the list item */
    margin: 0;
    padding: 0;
    position: absolute;
}

/* #endregion */

/* #region *** STATUS BAR ***/

.status-bar {
    background-color: var(--window-bg-color);
    border-color: var(--window-border-color);
    border-style: solid;
    border-width: 1px;
    display: flex;
}

/* #endregion */

/* #region *** TITLE BAR ***/

.title-bar {
    background-color: var(--window-title-bg-color);
    border-color: var(--window-title-border-color);
    border-style: solid;
    border-width: 1px;
    color: var(--window-title-color);
    text-align: center;
}

/* #endregion */

/* #region *** TOOLBAR ***/

.toolbar {
    position: absolute;
    top: 32;
    right: 32;
}

.toolbar .toolbar-button {
    background-color: var(--window-bg-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--window-border-color);
}

/* #endregion */

/* #region *** WINDOW ***/

.window {
    left: 32;
    position: absolute;
    top: 32;
}

.window .window-content {
    background-color: var(--window-bg-color);
    border-color: var(--window-border-color);
    border-style: solid;
    border-width: 1px;
}

/* #endregion */
